// COLOR
$color-primary:#000;
$color-white:#ffffff;
$color-secondary:#e10707;
$color-bg:#f7f7f7;
$color-title:#042864;
$decoration:#663494;
// font-family
$font-family-normal:'ek mukta',
serif;
//media query
$desktop-middle:1580px;
$desktop:1200px;
$tab-land:1024px;
$tab-large:768px 991px;
$tab-between:991px;
$tab:768px;
$tab-port:767px;
$mobile-large:576px;
$mobile-middle:480px;
$mobile-small:375px;